*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background:#000430;
    --secondaryBackground:#171c48;
    --text:#fff;
    --purple:#828dff;
    --teal:#24feee;

}

body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 120px; */
    margin: 120px auto 0 auto;
    max-width: 500px;
    /* background-color: red; */
}
.stats-container{
    padding: 30px;
    border:2px solid var(--purple);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;


}
.details{
    width: 100%;
}
#progressbar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}


#progress{
    width: 0%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--teal);
    transition: all 0.3s ease;
}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items:center ;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}


form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
input{
    flex:1;
    padding: 16px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}
button{
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;

}
#task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}
.taskItem{
    width: 100%;
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

}
.task{
    display: flex;
    align-items: center;
    gap: 10px;

}

.task input{
    width: 20px;
    height: 20px;
}

.task.completed{
    text-decoration: line-through;
    color: red;
}
.taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}